img {
    object-fit: contain;
}

.image {
    display: grid;
    grid-template-columns: 1fr;
    &:first-of-type {
        margin-left: 5px;
    }
    &:last-of-type {
        margin-right: 5px;
    }
}

.image.heightBased {
    height: fit-content;
    min-height: 500px;
    width: auto;
    
    a {
        height: 100%;
        width: auto;
    }

    img {
        width: auto;
        height: 500px;
    }
}

.image.widthBased {
    img {
        // width: 100%;
        max-height: 70vh;
        max-width: 100%;
        // max-width: 600px;
    }
}
