img {
    &.complex {
        object-fit: contain;
    }
    &.basic {
        width: 100%;
    }
}

.image {
    display: grid;
    grid-template-columns: 1fr;
    &:first-child {
        margin-left: 5px;
    }
    &:last-child {
        margin-right: 5px;
    }

    &.basic {
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}

.image.heightBased {
    height: fit-content;
    min-height: 500px;
    width: auto;
    max-width: 100%;
    
    a {
        height: 100%;
        width: auto;
        max-width: 100%;
    }

    img {
        width: auto;
        max-width: 100%;
        height: 500px;
    }
}

.image.widthBased {
    img {
        max-width: 100%;
    }
    &.fitToScreen {
        img {
            max-height: 70vh;
        }
    }
}
