img {
    max-width: 50px;
    margin-right: .5em;
}

#nav {
    display: flex;
    align-items: center;
}

.nav-title {
    margin-right: 5px;
}

.nav-branding {
    display: flex;
    align-items: center;
    cursor: pointer;
}

mat-toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 500ms linear;
}

@media only screen and (max-width: 500px) {
    .nav-branding {
        img {
            max-width: 40px;
        }
    }

    mat-toolbar {
        height: fit-content;
        padding: 0;
        position: fixed;
        bottom: 0;
        top: auto;
    }

    .nav-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .nav-button {
        border-radius: 12px;
        display: grid;
        grid-template-rows: 40px 40px;
        padding-top: 5px;
        justify-items: center;
        align-content: center;
        text-align: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            height: 32px;
            width: 100%;
        }

        .active-container {
            align-self: end;
            width: 64px;
            height: 32px;
            border-radius: 24px;
        }

        p {
            font-size: 12pt;
            margin: 0;
            font-weight: 500;

            &.active {
                font-weight: 700;
            }
        }
    }

    #nav {
        display: grid;
        grid-auto-flow: row;
        width: 100%;
    }
}