img {
    max-width: 50px;
    margin-right: .5em;
}

#nav {
    display: flex;
    align-items: center;
}

.nav-title {
    margin-right: 5px;
}

.nav-branding {
    display: flex;
    align-items: center;
    cursor: pointer;
}

mat-toolbar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 500ms linear;
}

@media only screen and (max-width: 450px) {
    .nav-branding {
        img {
            max-width: 40px;
        }
    }

    mat-toolbar {
        height: fit-content;
        padding: 0 10px;
        padding-right: 0;
    }

    #nav {
        display: grid;
        grid-auto-flow: row;
    }
}