#gallery {
    width: 90%;
    margin: 0 auto;
    display: grid;

    @media only screen and (max-width: 800px) {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-image {
        transition: opacity .2s;
        @media only screen and (min-width: 800px) {
            &:hover {
                opacity: .9;
            }
        }

        &.addPadding {
            padding-bottom: 5px;
        }
    }
}