.gallery-header {
    margin-bottom: 1em;
    width: 100%;

    h2 {
        padding: 20px;
    }
}

#gallery {
    width: 90%;
    margin: 0 auto;
    display: grid;
    // grid-template-columns: 1fr 1fr;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // height: fit-content;

    @media only screen and (max-width: 800px) {
        width: 100%;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-image {
        transition: opacity .2s;
        @media only screen and (min-width: 800px) {
            &:hover {
                opacity: .9;
            }
        }
    }
}