<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>I like to take photos</mat-card-title>
        <mat-card-subtitle>Blog</mat-card-subtitle>
    </mat-card-header>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/200972144@N04/53825144897/in/dateposted-public/" title="_1270236" target="_blank">
        <img mat-card-image src="https://live.staticflickr.com/65535/53825144897_d164a0882a_z.jpg" width="400" height="300" alt="_1270236"/>
    </a>
    <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <mat-card-content>
        <p>
            Here is a blog post. Maybe this will be a little preview to get everyone interested.
            If they are interested they will click to read more!
            Yay! I hope everyone reads everything!
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>READ MORE</button>
    </mat-card-actions>
</mat-card>
