<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="card-header-image"></div>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>Blog</mat-card-subtitle>
    </mat-card-header>
    <a data-flickr-embed="true" href="{{ post.thumbnail.flickrLink }}" title="_1270236" target="_blank">
        <img mat-card-image src="{{ post.thumbnail.src }}" alt="_1270236"/>
    </a>
    <!-- <mat-card-content>
        <p>
            Here is a blog post. Maybe this will be a little preview to get everyone interested.
            If they are interested they will click to read more!
            Yay! I hope everyone reads everything!
        </p>
    </mat-card-content> -->
    <mat-card-actions>
        <button mat-button (click)="onClickReadMore()">READ</button>
    </mat-card-actions>
</mat-card>
