<app-nav></app-nav>
<div class="post">
    <div class="post-header">
        <div class="post-content">
            <h2>{{title}}</h2>
            <h4>{{subtitle}}</h4>
            <p>{{date}}</p>
        </div>
    </div>
    <div class="post-body">
        <div class="post-content">
            @for (section of body; track $index) {
                <section 
                    [class.right]="section.tags.alignment === 'r'" 
                    [class.left]="section.tags.alignment === 'l'"
                    [class.center]="section.tags.alignment === 'c'"
                >
                    @for (text of section.text; track $index) {
                        <p>{{ text }}</p>
                    }
                    <div class="post-image-container">
                        <div class="scroll">
                        @for (i of section.images; track $index) {
                            <!-- <div class="post-image">
                                <a data-flickr-embed="true" href="{{ i.flickrLink }}" title="{{ i.title }}" target="_blank">
                                    <img src="{{ i.src }}" alt="{{ i.title }}"/>
                                </a>
                                <span class="img-title">{{ i.title }}</span>
                            </div> -->
                            <app-image [image]="i"></app-image>
                        }
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
</div>
