<app-nav></app-nav>
<div class="post">
    <div class="post-header main-header">
        <div class="post-content">
            <h2>{{title}}</h2>
            <h4>{{subtitle}}</h4>
            <p>{{date}}</p>
        </div>
    </div>
    <div class="post-body">
        <div class="post-content">
            @for (section of body; track $index) {
                <section 
                    [class.right]="section.tags.alignment === 'r'" 
                    [class.left]="section.tags.alignment === 'l'"
                    [class.center]="section.tags.alignment === 'c'"
                >
                    @for (text of section.text; track $index) {
                        <p>{{ text }}</p>
                    }
                    <div class="post-image-container">
                        @if (section.images.length > 2) {
                            <div class="scroll">
                                <div class="scroll-content">
                                    @for (i of section.images; track $index) {
                                        <app-image [image]="i"></app-image>
                                    }
                                </div>
                            </div>
                        } @else {
                            @for (i of section.images; track $index) {
                                <app-image [image]="i"></app-image>
                            }
                        }
                    </div>
                </section>
            }
        </div>
    </div>
</div>
