.post-body {
    .post-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .right {
            grid-column: 2/3;
            justify-self: start;
        }
        .left {
            grid-column: 1/2;
            justify-self: end;
        }
        .center {
            grid-column: 1/-1;
            justify-self: start;
        }
        .right, .left, .center {
            @media only screen and (max-width: 600px) {
                grid-column: 1/-1;
                justify-self: center;
            }
        }

        section {
            margin: 1em;

            .img-title {
                font-size: .75em;
            }

            .post-image-container {
                max-width: 100vw;
                .scroll {
                    width: 100%;
                    min-height: 0;
                    min-width: 0;
                    .scroll-content {
                        display: grid;
                        grid-auto-flow: column;
                        grid-auto-columns: minmax(250px,1fr);
                    }
                    @media only screen and (max-width: 900px) {
                        overflow-x: scroll;
                        .scroll-content {
                            width: 110%;
                            min-width: fit-content;
                            padding-right: 100px;
                        }
                    }
                }
            }

            .post-image {
                display: grid;
                grid-template-columns: 1fr;
                &:first-of-type {
                    margin-left: 5px;
                }
                &:last-of-type {
                    margin-right: 5px;
                }
            }
        }
    }
}

.post-header {
    h2 {
        margin-bottom: 0;
    }
    p {
        padding-left: .5em;
    }
    padding-bottom: 30px;
    padding-top: 10px;
}

.post-content {
    width: 80%;
    margin: 0 auto;
    @media only screen and (max-width: 600px) {
        width: 95%;
    }
}