.blog-card-container {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    margin: 0 ;
    flex-wrap: wrap;
    // padding: 1em;

    .blog-card {
        width: 90%;
        max-width: 400px;
    }
}