@use '@angular/material' as mat;
@use 'sass:map';

@mixin color($theme) {
    #home-header {
        color: mat.get-theme-color($theme, on-surface);
        mat-icon {
            color: mat.get-theme-color($theme, on-surface);
        }
    }

    #blog-fab {
        background-color: mat.get-theme-color($theme, primary);
        color: mat.get-theme-color($theme, on-primary);
    }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
      @include color($theme);
    }
}