<app-nav></app-nav>
<div id="home-header" class="main-header">
    <h2>Photos by Ben Wyatt</h2>
    <p>Socials</p>
    <a mat-icon-button aria-label="Link to instagram" href="https://www.instagram.com/ben.wyatt_photo/?igsh=MXZ2MWp0aWtrZm1yNA%3D%3D" target="_blank">
        <mat-icon svgIcon="instagram"></mat-icon>
    </a>
    <a mat-icon-button aria-label="Link to threads" href="https://www.threads.net/@ben.wyatt_photo" target="_blank">
        <mat-icon svgIcon="threads"></mat-icon>
    </a>
</div>
<app-gallery></app-gallery>
<a id="blog-fab" mat-fab extended (click)="onClickBlogFab()">
    <mat-icon>library_books</mat-icon>
    Blog
</a>
