#home-header {
    padding: 3em;
    padding-top: 1em;
    padding-right: 0;
    margin-bottom: 10px;

    @media only screen and (max-width: 650px) {
        padding: 1em;
        padding-right: 0;
    }
}

#blog-fab {
    position: sticky;
    bottom: 10px;
    right: 10px;
    float: right;
}